html,body,div {display: block;}

body {
  background:#fff;
  background: url(../img/fondo.jpg) no-repeat center top;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  text-align: center;
}


h2, h3, h4 {
  /* font-family: 'Raleway', sans-serif; */
  font-family: 'Open Sans Condensed', sans-serif;
  color: #fff;
}

h2 {
  /* font-family: 'Raleway', sans-serif; */
  font-size: 80px;
}

h3 {
  /* font-family: 'Raleway', sans-serif; */
  font-size: 50px;
}


h4 {
  /* font-family: 'Raleway', sans-serif; */
  font-size: 30px;
}


/* Adaptando a moviles */

@media screen and (max-width:800px) {

}
