/* Body */

/* font-family: 'Baloo', cursive; */
/* font-family: 'Raleway', sans-serif; */
/* font-family: 'Open Sans Condensed', sans-serif; */


body {
  background: #f2f2f2;
  font-family: 'Open Sans Condensed', sans-serif;
}

/* Header */

header {
  margin-top: 30px;
}


header .nav {
  min-height: 80px;
  overflow: hidden;
  background: #fff;
}

/* Logo */
header .logo h2,
header .logo span {
  font-size: 32px;
  display: inline-block;
  margin: 0;
}

header .logo h2{
  font-family: 'Baloo', cursive;
}

header .logo p {
  font-size: 16px;
  display: inline-block;
  margin: 0;
  color: #77777;
}

header .logo .icono {
  color: #77777;
}
/* // Logo */

/* Menu */

header .menu {
  padding: 0;
}

header .menu a {
  display: block;
  text-decoration: none;
  color: #fff;
  padding: 0 30px;
}

header .menu a div span {
  font-family: 'Baloo', cursive;
}

header .menu .c-1 {background: #3da5e2;}
header .menu .c-2 {background: #005385;}
header .menu .c-3 {background: #003855;}

header .menu .c-1:hover {background: #1ba0ef;}
header .menu .c-2:hover {background: #00426a;}
header .menu .c-3:hover {background: #002d44;}
/* // Menu */

/* Slider */
.slider {
  margin-bottom: 40px;
}
.slider .col {
  padding: 0;
}
/* //Slider */

/* //Header  */


/* Main */

/* Portafolio */
.portafolio {
  background: #fff;
  border-top: 5px solid #3da5e2;
  padding: 0 20px;
  margin-bottom: 40px;
}

.portafolio .titulo {
  padding: 40px 0;
  text-align: center;
  font-family: 'Baloo', cursive;
  color: #3da5e2;
}

.portafolio .galeria .contenedor-imagen{
  margin-bottom: 40px;
  max-height: 250  px;
  overflow: hidden;
}

.portafolio .galeria .contenedor-imagen a {
  display: inline-block;
  background: #3da5e2
}

.portafolio .galeria .contenedor-imagen:hover img{
  opacity: 0.4;
}
/* //Portafolio */


/* Acerca de */

.acerca-de {
  padding: 30px;
  margin-bottom: 40px;
}

.acerca-de .foto {
  text-align:
}

.acerca-de .foto img{
  margin-bottom: 30px;
}

.acerca-de .info .titulo {
  color: #005385;
  font-family: 'Baloo', cursive;
  font-size: 40px;
  margin-bottom: 30px;
}

.acerca-de .info .resumen {
  letter-spacing: 1px;
}

.acerca-de .info .label {
  font-size: 18px;
  font-family: 'Baloo', cursive;
  color: #005385;
  margin-bottom: 10px;
}

.acerca-de .info .progress {
  background: #005385;
  border-radius: 0;
  margin-bottom: 15px;
}

.acerca-de .info .progress-bar {
  height: 17px;
  background: #3da5e2;
  line-height: 30px;
  text-align: left;
  padding-left: 20px;
}


/* //Acerca de */


/* Contacto */
.contacto {
  padding: 40px 0;
  border-top: 1px solid #cbcbcb;
  margin-bottom: 40px;
}

.contacto .titulo {
  color: : 003855;
  font-family: 'Baloo', cursive;
  font-size: 40px;
  margin-bottom: 40px;
  text-align: center;

}

.contacto .form-group {
  margin-bottom: 0;
}

.formulario input[type='text'],
.formulario input[type='email'],
.formulario textarea {
  padding: 15px;
  border: none;
  width: 100%;
  margin-bottom: 30px;
}

.formulario textarea {
  height: 150px;
  min-height: 150px;
  nax-height: 250px;
}

.formulario .boton {
  background: #3da5e2;
  border: none;
  padding: 7px 30px;
  color: #fff;
  cursor: pointer;
  width: auto;
  border-radius: 3px;
}

.formulario .boton:hover {
  background: #1ba0ef;
}
/* //Contacto */

/* //Main */


/* Footer */

/* Redes sociales */
.redes-sociales {
  padding: 40px 0;
  margin-bottom: 40px;
}

.redes-sociales .icono {
  width: 100px;
  height: 100px;
  font-size: 40px;
  line-height: 100px;
  color: #fff;
  text-align: center;
  background: #cbcbcb;
  display: inline-block;
  margin: 0 20px;
  text-decoration: none;
  border-radius: 100px;
  transition: all .3s ease;
}

.redes-sociales .twitter {background: #1da1f2;}
.redes-sociales .instagram {background: #833ab4;}
.redes-sociales .facebook {background: #3b5998;}
.redes-sociales .linkedin {background: #0077b5;}
/* //Redes sociales */
/* //Footer */


/* Mediaqueries */

/* Dispositivo xl */
@media screen and (max-width: 1199px) {}

/* Dispositivo lg */
@media screen and (max-width: 991px) {
  .logo {
    height: 76px;
  }

  .menu {
    min-height: 76px;
  }

  .menu a {
    width: 100%;
  }

  .menu div {
    width: 100%;
  }

.portafolio .galeria .cont-imagen:nth-child(1) {order: 1;}
.portafolio .galeria .cont-imagen:nth-child(2) {order: 2;}
.portafolio .galeria .cont-imagen:nth-child(3) {order: 3;}
.portafolio .galeria .cont-imagen:nth-child(4) {order: 4;}
.portafolio .galeria .cont-imagen:nth-child(5) {order: 5;}
.portafolio .galeria .cont-imagen:nth-child(6) {order: 6;}
.portafolio .galeria .cont-imagen:nth-child(7) {order: 7;}
}



/* //Mediaqueries */




/* font-family: 'Baloo', cursive; */
/* font-family: 'Raleway', sans-serif; */
/* font-family: 'Open Sans Condensed', sans-serif; */
